.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.webCam{
    position: relative;
    z-index: 9;

    margin-left: auto;
    margin-right: auto;
  transform: scaleX(-1); /* Flip the webcam feed horizontally */
  /* height: 100vh; */
  /* max-width: 1200px; */
  /* max-height: 800px; */
}
.canvasStyle{    
  position: relative;
  z-index: 9;
  display: none;
  /* height: 100vh; */
  /* max-width: 1200px; */
  /* max-height: 800px; */
}


.stopBtn{
    padding-top: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: red;
    height: 50px;
    width: 120px;
    
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    
    display: flex;
    text-align: center;
    justify-content: center;

    transition: .1s;
}
.stopBtn:active{
    transform:scale(0.9)
}