.container{
    height: 100vh;
    /* background-image: url("https://th.bing.com/th/id/R.f93d67fbca2a40aac876f7aff3e8ad8d?rik=FQw87QUVNz2JYQ&pid=ImgRaw&r=0");
    background-image: url('../../../public/assets/gif/bg-gif.gif');
    bg-vi
    background-repeat: no-repeat;
    background-size: cover; */
}

.mainContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textContainer{
    padding: 3rem 6rem;
}
.imgContainer{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.nameOfStartUp{
    color: #000ACF;
    font-size: 10rem;
}

.desc{
    width: 700px;
    padding: 2rem 0;
    font-size: xx-large;
    color: #000ACF;

}

.imgContainer img{
    height: 600px;
}